/* -----卡片样式----- */
.card-description{
	width: 100%;
	height: 140px;
}
.card-description ul li .card{
	width: 280px;
	height: 100%;
	border-width: 0;
	padding: 1.2px;
	border-radius: 0.8rem;
	background-color: #666666;
	color: white;}
	.card-description ul li .card:hover{
		background-color: #cf1515;
	}

.card .btn{
	position: relative;
	width: 50%;}
	.card .btn:hover{
		font-size: 1.2rem;
	}
.card .btn a{
	color: white;}
	.card .btn a:hover{
		text-decoration: none;
		
	}
