body {
	margin: 0;
	padding: 0;

	height: 100%;/* 自动 */
	width: 100%;/* 自动 */
}

html {
	margin: 0;
	padding: 0;
	height: 100%;/* 自动 */
	width: 100%;/* 自动 */
}


/* -----导航栏样式----- */
.nav{
	width: 100%;
	line-height: 3rem;
}
.nav .nav-item{
	background: #414141;}
	.nav .nav-item #navigation-home{
		margin-left: 60px;
		font-size: 1.6rem;
		color: white;}
		.nav .nav-item #navigation-home:hover{
			font-size: 1.8rem;
			color: lightblue;
		}
	.nav .nav-item a{
		text-decoration: none;
		color: #9e9e9e;}
		.nav .nav-item a:hover{
			color: #dbdbdb;
			font-size: 1.2rem;
		}

.footer{
	display: block;
}