body
{
	margin: 0;
	padding: 0;

	/* height: 100%;自动 */
	width: 100%;/* 自动 */
	background-color: #cbe6e6;
}

html
{
	margin: 0;
	padding: 0;

	height: 100%;/* 自动 */
	width: 100%;/* 自动 */
}

/* -----导航栏样式----- */
/*
.menu_ui
{
	width: 100%;
	background-color: #343a40;
	line-height: 44px;
}

a.nav-link
{
	text-align: center;
	padding: 5px 15px;
	text-decoration: none;
	color: #fff;
	border: 2px solid #fff0;

	border-radius: 10px;
}
a.nav-link:hover
{
	background-color: #586068;
	color: #00b0eb;
	font-size: 1.1rem;
}

*/

.menu_ui
{
	display: inline-flex;
	padding: 10px;
	width: 100%;
	background-color: #343a40;
}
.tablink
{
	padding: 5px 15px;
	text-decoration: none;
	color: #fff;
	border: 2px solid #fff0;
	border-radius: 10px;
	/* border-radius: 20px; */
}
.tablink:hover
{
	text-decoration: none;
	border: 2px solid #586068;
	background-color: #586068;
	color: #00b0eb;
}

