.member-area{
    margin-top: 400px;
}

.card {
    background-image: url("../src/images/Sky.jpg");
    background-clip: padding-box;
    margin: 0 40px;
    box-shadow: 0 10px 10px 0 #000;
}

.card-title>.teammate-icon,.teammate-name {
    display: inline-block;
}

.teammate-icon {
    margin-top: 10px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background: rgb(204, 182, 182);
    box-shadow: 0 0 10px 0 rgb(17, 16, 119);}
    .teammate-icon:hover{
        transform: scale(1.1, 1.1);
    }

.teammate-name {
    font-family: 雅黑;
    font-size: 2rem;
    margin: 0 0 0 20px;}
    .teammate-name:hover{
        cursor: default;
        transform: scale(1.1, 1.1);
    }

hr {
    margin-top: 6px;
    background-color: rgb(71, 131, 131);
}

div.card-body {
    
    background: rgba(0, 0, 0, 0.39);
    margin-bottom: 20px;
}

.teammate-description {
    padding: 0;
    margin: 0;
    color: #e2e2e2;
    font-family: 楷体;
    font-size: 1.3rem;
}
